/* put some styles here yo! */

.navbar img
{
  height: 90px; 
}

.navbar-inner
{
  background: none;
  background-color: white !important;
}

.navbar a
{
  color: black;
}

.navbar a:hover
{
  color: black !important;
}


.strong
{
  font-weight: bold;
}

.total
{
  padding: 10px;
  background-color: #efefef;
  color: black;
  font-size: 120%;
  text-align: center;
  list-style: none;
  border: 1px solid gray;
}
