{% extends 'base.html' %}

{% block content %}
  <h1>Manage {{team.name}}</h1>
  <br>
  <h3> Players On This Team </h3>
  <ul>

    {%if team.player_set.all|length > 0 %}
  {% for player in team.player_set.all %}
  <li> <a href="/emailer/{{player.emailer.id}}">{{player.name}} </a>  
      <ul>
        {% for  rank in  player.emailer.emailerpointranking_set.all %} 
        <li> {{rank.category}}= {{rank.points}} points </li>
         {%endfor%}
      </ul>
    </li>
  {%endfor %}
  </ul>
  <h3> Team Points <small> By Category</small> </h3>
  <ul>
    {# this is no longer actually ranking but w/e #}
  {% for ranking in team.teampoints_set.all %}
    <li> {{ranking.category}} : {{ranking.points}} </li>
  {%endfor%}
  </ul>
  <h3> Total Score </h3>
  <ul>
    {% for tscore in team.teamscore_set.all %}
    <li>
    {{tscore.category}}: {{tscore.score}} 
    </li>
    {%endfor %}
    </ul>
  <br><br><br>
  <h3> Kick Players Off Your Team</h3>
  {% for player in team_players %}
  <a href="/emailer/{{player.emailer.id}}">{{player.name}} </a>  <a class="btn btn-small  btn-danger" href="/remove/{{player.id}}"> Cut this player </a>
  <br>
  <br>
  {%endfor%}

  <br>
    <a class="btn btn-success btn-large"  href="/emailers/"> Recruit other  emailers.</a>
    {%else%} {# end of player length #}
  <p> None. Why don't you add some</p>
    <a class="btn btn-success btn-large"  href="/emailers/"> Add  players.</a>
    {%endif%}
    <br><br>
    <br><br>
{% endblock %}
